<?xml version="1.0" encoding="UTF-8"?>
<web-app  xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="sparkapp" version="3.0" >
	<display-name>Spark App</display-name>
	<description>A sample Spark app on a Servlet Container</description>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<!--
		FILTERS
	-->
	<!-- User filter -->
	<filter>
		<filter-name>UserFilter</filter-name>
		<filter-class>spark.servlet.SparkFilter</filter-class>
		<init-param>
			<param-name>applicationClass</param-name>
			<param-value>com.flectosystems.sparkapp.services.UserService</param-value>
		</init-param>
	</filter>
	<!-- Venue filter -->
	<filter>
		<filter-name>VenueFilter</filter-name>
		<filter-class>spark.servlet.SparkFilter</filter-class>
		<init-param>
			<param-name>applicationClass</param-name>
			<param-value>com.flectosystems.sparkapp.services.VenueService</param-value>
		</init-param>
	</filter>
	<!-- Filter Mapping (URLs) -->
	<filter-mapping>
		<filter-name>UserFilter</filter-name>
		<url-pattern>/api/user/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>VenueFilter</filter-name>
		<url-pattern>/api/venue/*</url-pattern>
	</filter-mapping>

</web-app>